body{
    background-color: azure;
}
h1{
    text-align: center;
    color: hwb(240 0% 0%);
}
img{
    float:left
}
p{
    text-align: center;
    margin: 20mm;
    background-color: blue;
    font-family: 'Courier New', Courier, monospace;
    font: bold;
    color: yellow;
}