body{
    background-color: rgb(9, 9, 241);
}
h1{
    text-align: center;
    color: hwb(202 30% 19% / 0.468);
}
img{
    position: relative;
    float:left;
}
p{
    text-align: right;
    margin: 5mm;
    background-color: blue;
    font-family: 'Courier New', Courier, monospace;
    font: bold;
    color: yellow;
    width: 15cm;
    border-color: aqua;
    z-index: 3;
    position: absolute; bottom: 110mm;
    box-sizing: border-box;
    border-radius: 20px 0px 10px 0px;
    border: 5px solid;
}
h2{
position: absolute;
    text-align: right;
    border-bottom: 2mm;
    z-index: 1;
    
}
div position {
    top: 5mm;
   
    z-index:1;
   
}