body{
    background-color: azure;
}
h1{
    text-align: center;
    color: hwb(240 0% 0%);
}
img{
    position: relative;
    float:left;
    margin-block: 20mm;
    border-top: 5mm;
}
p{
    position: relative;
    text-align: right;
    margin: 5mm;
    background-color: blue;
    font-family: 'Courier New', Courier, monospace;
    font: bold;
    color: yellow;
    width: 200mm;
    border-style: double;
    border-color: aqua;
    display: inline;
}